/* import component files */
@import url(./components/header.css);
@import url(./components/footer.css);

/* global variables */
:root {
  --color-purple: #8d7f95;
  --color-gold: rgb(255, 215, 0);
  --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* resets */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'open sans';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.wp-block-columns-is-layout-flex {
  gap: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}
