/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.hero-banner-preview {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	min-height: 200px;
	padding: 1em;
	font-family: "open sans";
	position: relative;
}

.hero-banner-preview .block-editor-inner-blocks {
	height: 100%;
}

.hero-banner-preview
	.block-editor-inner-blocks
	.block-editor-block-list__layout {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.btn-change-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
