/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.hero-banner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	font-family: "open sans";
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
